{% extends 'project/main.html' %}

{% block content %}

<div class="h-full ml-14 mt-14 mb-10 md:ml-64">

    <div class="mt-4 mx-4">
        <h2 class="text-lg md:text-2xl font-medium">{{ course.name }} ({{total_students_taking_course}} Students)</h2>
        <h2 class="text-lg md:text-2xl font-medium text-center">{{ course.name }}</h2>

        <div class="mb-3 mt-3">
            <a href="{% url 'add_student' %}" class="inline-block px-4 py-2 rounded-md bg-green-500 text-sm text-white">Add Course Topic</a>
        </div>
    </div>

    <!-- Client Table -->
    <div class="mt-4 mx-4">
        <div class="w-full overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-x-auto">
                <table class="w-full">
                    <thead>
                        <tr
                            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                            <th class="px-4 py-3">Topic</th>
                            <th class="px-4 py-3">Date</th>
                            <th class="px-4 py-3">Start Time</th>
                            <th class="px-4 py-3">End Time</th>
                            <th class="px-4 py-3">Comment</th>
                            <th class="px-4 py-3">Attendance Status</th>
                            <th class="px-4 py-3"></th>
                            <th class="px-4 py-3"></th>

                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">

                        {% for course_topic in course_topics %}
                            <tr
                                class="bg-gray-50 dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-900 text-gray-700 dark:text-gray-400">
                                <td class="px-4 py-3 font-semibold">{{course_topic.topic}}</td>
                                <td class="px-4 py-3 text-sm">{{course_topic.date}}</td>
                                <td class="px-4 py-3 text-sm">{{course_topic.start_time}}</td>
                                <td class="px-4 py-3 text-sm">{{course_topic.end_time}}</td>
                                <td class="px-4 py-3 text-sm">{{course_topic.comment}}</td>
                                <td class="px-4 py-3 text-sm">open</td>
                                <td class="px-4 py-3 text-sm">
                                    <a href="{% url 'attendance' course.id course_topic.id%}" class="inline-block px-4 py-2 rounded-md bg-green-500 text-sm text-white">Take Attendance</a>
                                </td>

                                <td class="px-4 py-3 text-sm">
                                    <a href="" class="inline-block px-4 py-2 rounded-md bg-red-500 text-sm text-white">End Attendance</a>
                                </td>

                                <td class="px-4 py-3 text-sm">
                                    <a href="" class="inline-block px-4 py-2 rounded-md bg-blue-500 text-sm text-white">View Attendance</a>
                                </td>

                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    <!-- ./Client Table -->

</div>

{% endblock %}