{% extends 'project/main.html' %}

{% block content %}

<div class="h-full ml-14 mt-14 mb-10 md:ml-64">

    <div class="mt-4 mx-4">
        <h2 class="text-lg md:text-xl font-medium">Student Dashboard</h2>
    </div>
    <!-- Client Table -->
    <div class="mt-4 mx-4">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-2">
            <div class="shadow rounded-lg py-3 px-5 bg-white">
                <div class="flex flex-row justify-between items-center">
                    <div>
                        <h6 class="text-2xl text-black">Departments</h6>
                        <h4 class="text-black text-4xl font-bold text-left">{{total_departments}}</h4>
                    </div>
                    <div>
                        <span>
                            <i class="fa-solid fa-person"></i>
                        </span>
                    </div>
                </div>
                
                
            </div>

            <div class="shadow rounded-lg py-3 px-5 bg-white">
                <div class="flex flex-row justify-between items-center">
                    <div>
                        <h6 class="text-2xl text-black">Courses</h6>
                        <h4 class="text-black text-4xl font-bold text-left">{{total_courses}}</h4>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none" viewBox="0 0 24 24"
                            stroke="#14B8A6" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z" />
                        </svg>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- ./Client Table -->

</div>

{% endblock %}